$light: #edf2f4;
$dark: #2b2d42;
$primary: #d90429;
$secondary: #8d99ae;
$primary-gradient: linear-gradient(60deg, #d904277e, #2b2d4284 );
$logo-font: 'Bebas Neue', cursive;


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Titillium Web', sans-serif;
    color: $dark;
}

.nav-desktop{
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    line-height: 10vh;
    width: 100%;
    font-size: 3rem;
    background-color: $light;
    text-align: center;
    text-transform: uppercase;
}



.nav{
    

    &__item{
        padding-right: .5em;
        color: $dark;
        text-decoration: none;
    }
}

.header{
    &__img{
        background-image: linear-gradient(60deg, #1204d97e, #2b2d4284), url('../img/car-63930_640.jpg');
        background-position: center;
        background-size: cover;
        height: 100vh;
    }

    
}


@media (max-width: 768px){
    .nav-desktop{
        display: none;
    }
}

@media (min-width: 768px){
    .nav-desktop{
        display: block;
    }

    .header{
        &__img{
            background-image: linear-gradient(60deg, #d904277e, #2b2d4284), url('../img/car-63930_1920.jpg');
        }
    }
}