$light: #edf2f4;
$dark: #2b2d42;
$primary: #d90429;
$secondary: #8d99ae;
$logo-font: 'Bebas Neue', cursive;


*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    width: 100vw;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    height: 100%;
    width: 100%;
    font-size: 1.6rem;
    font-family: 'Titillium Web', sans-serif;
    color: $dark;
}

.nav__desktop{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 10vh;
    width: 100%;
    font-size: 3rem;
    background-color: $light;
    text-align: center;
    text-transform: uppercase;

    

}

.nav__mobile{
    display: none;
}





.nav{
   position: absolute;
    &__item{
        width: 150px;
        padding-right: .5em;
        color: $dark;
        text-decoration: none;
    
    }

    &__item::after{
        content: '';
        display: block;
        position: relative;
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        background-color: $primary;
        transition: .3s transform;
        transform: scale(0);
        transform-origin: right;
      
    }

    &__item:hover::after{
        transform: scale(1);
        transform-origin: left;
        

    }
}

.header{
    &__img{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        background-image: linear-gradient(60deg, #53293073, #1f2142ab), url('../img/car-63930_640.jpg');
        background-position: center;
        background-size: cover;
        height: 100%;
        font-size: 4rem;
    }

    
    &__text{
       
        padding: 3em;
        color: $light;
        font-size: 2rem;

    }
    &__head{
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 2em;
        color: $light;
    }

    &__body{
        display: flex;
    }
    
}

.aboutus{
    &__title{
        text-align: center;
        padding-top: 2.2em;
        padding-bottom: 1em;
        font-size: 4rem;
        text-transform: uppercase;
    }

    &__car{
        padding: 2em 4em;
    }

    &__info{
        display: flex;
        padding: 0em 2em;
    }

    &__info-text{
        padding: 2em;
    }
}




@media (max-width: 768px){
    .nav-desktop{
        display: none;
    }

    .header{
        &__img{

        }

        &__head{
            padding: .3m;
        }

        &__body{
            display: flex;
            flex-direction: column;
        }
    }

   
}

@media (min-width: 768px){
    .header{
        &__img{
            background-image: linear-gradient(60deg, #53293073, #1f2142ab), url('../img/car-63930_1920.jpg');

        }
    }
}

@media (min-width: 768px) and (max-width: 992px){
    .nav-desktop{
        display: block;
    }

    .header{
        &__img{
        }

        &__body{
            display: flex;

        }

        &__text{
            padding: 1em;
        }
       
    }
}